$mainColor: #5F7161;
$secColor: #6D8B74;
$triColor: #EFEAD8;
$markColor: #D0C9C0;

* {
    font-family: sans-serif;
    margin: 0;
}

header {
    background-color: #053030;
    padding: 15px;
    nav {
        ul {
            display: flex;
            list-style: none;
            display: flex;
            justify-content: space-around;
            a {
                color: white;
                text-decoration: none;
                &:hover {
                    transform: scale(30deg);
                }
            }
        }
    }
}

main {
    color: $triColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    background-image: url(../img/mameshiba.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    section {
        width: 60%;
        background-color: $mainColor;
        text-align: center;
        padding: 20px;
        h1 {
            margin-bottom: 20px;
        }
        input {
            margin: 10px;
        }
        button {
            margin-top: 10px;
            padding: 10px;
            background-color: $markColor;
            font-weight: 600;
            border-radius: 20px;
            cursor: pointer;
            &:hover {
                opacity: 0.8;
            }
        }
    }
    .champool {
        form {
            select {
                width: 50%;
                padding: 10px;
                background-color: #053030;
                color: $triColor;
                margin: 5px 0 20px 0;
            }
        }
    }
    .champcost {
        display: flex;
        flex-direction: column;
        article {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
        }
    }
}